# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS desktop metadata files
.DS_Store

# Build files
build/
cmake-build-*/
.deps/
/components/
!/components/
/components/*
!/components/ArduinoJson/
!/components/esp-now/
!/components/mooncake/
!/components/mooncake_log/
!/components/smooth_ui_toolkit/
!/components/stackchan_fonts/
!/components/stackchan_fonts/**
managed_components/

# PlatformIO
.pio/

# VSCode
.vscode/
.cache/

# Python virtual environment
.venv/

# Debug / Release files
Debug/
debug/
Release/
release/
out/
bin/
obj/

*.code-workspace

sdkconfig
sdkconfig.old

xiaozhi-esp32/
